/* Arc Dark Color Scheme
    $charcoal               : #383c4aff;
    $charcoal-2             : #404552ff;
    $independence           : #4b5162ff;
    $roman-silver           : #7c818cff;
    $white                  : #fbfcfcff;
    $united-nations-blue    : #5294e2ff;
*/

$c_Accent: #5294e2ff;
$c_Background: #383c4aff;
$c_Selection: #4b5162ff;
$c_Text: #fbfcfcff;
