@use "../../styles/utilities" as u;

.Projects {
    font-family: u.$f_Mono;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li {
            h3 {
                font-size: 2rem;
                font-weight: 500;

                span {
                    font-size: 1.4rem;
                    font-weight: 200;
                }
            }

            a {
                font-style: italic;
                font-weight: 200;
                font-size: 1.4rem;
                display: table-row;

                i {
                    font-size: 1.2rem;
                }
            }

            p {
                margin-top: 1rem;
                font-size: 1.4rem;
            }

            ul {
                margin-top: 1rem;
                list-style-type: square;
                display: flex;
                flex-direction: column;
                gap: 0;

                li {
                    font-size: 1.4rem;
                    font-weight: 200;
                    margin-left: 2rem;
                }
            }
        }
    }
}
