@use './utilities' as u;

.Left {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include u.mobile {
        max-width: unset;
        width: 100%;
    }
}

.Right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
