@use '../../styles/utilities' as u;

.About {
    font: {
        family: u.$f_Sans;
        style: italic;
        weight: 300;
    }

    blockquote {
        font: {
            weight: 400;
        }
    }
}
