@use '../../../styles/utilities' as u;

.Header {
    @include u.container;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: u.$f_Sans;
    font-weight: 300;
    border-bottom: 0.3rem u.$c_Accent solid;

    .name {
        display: inline-flex;
        gap: 1rem;
        text-transform: uppercase;
        h1 {
            font-size: 5rem;
            font-weight: 300;
            &:last-of-type {
                font-weight: 700;
            }
        }
    }

    .designation {
        font: {
            style: italic;
            size: 2.6rem;
        }
    }

    .details {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        gap: 1rem;

        @include u.mobile {
            flex-direction: column;
            align-items: center;
            gap: unset;

            b {
                display: none;
            }
        }
    }

    @include u.print {
        border-width: 1pt;
    }
}
